* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(198, 56%, 79%);
  --primary-color-dark: hsl(198, 30%, 60%);
  --text-color: hsl(198, 79%, 10%);
}

body {
  background-color: var(--primary-color);
  padding: 2rem 20rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--text-color);
}

.container {
  background-color: white;
  padding: 3rem 2rem;
  border-radius: 1rem;
  max-width: 40rem;
  margin: auto;
}

h1 {
  margin-bottom: 2rem;
}

p {
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  height: 4rem;
  font-size: 1.2rem;
  padding: 0 1rem;
  border: 1px solid var(--primary-color);
}

input:focus {
  outline: 1px solid var(--primary-color);
}

input,
label {
  margin-bottom: 0.8rem;
}

button {
  font-size: 2rem;
  padding: 0.5rem;
  background-color: var(--primary-color);
  border: none;
  height: 4rem;
  cursor: pointer;
  color: var(--text-color);
  margin-top: 2.3rem;
}

button:hover {
  background-color: var(--text-color);
  color: white;
}

.result-paragraph,
.bad {
  padding: 0.625rem 1.25rem;
  background-color: rgb(160, 235, 160);
  margin-top: 1rem;
  text-align: center;
}

.bad {
  background-color: rgb(241, 149, 149);
}

/*responsivo*/

@media (max-width: 1100px) {
  body {
    font-size: 1.5rem;
  }
  button {
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px) {
  body {
    padding: 2rem 10rem;
  }
}

@media (max-width: 679px) {
  body {
    padding: 2rem 5rem;
  }
}

@media (max-width: 584px) {
  body {
    padding: 2rem 1rem;
    font-size: 1.2rem;
  }
  input {
    height: 3rem;
  }

  input,
  label {
    margin-bottom: 0.8rem;
  }

  button {
    font-size: 1.2rem;
    height: 3rem;
    margin-top: 2.3rem;
  }
}


@media (max-width: 338px) {
  body {
    padding: 2rem 2rem;
  }
}
